.form {
  &__field {
    margin-bottom: 1em;
    min-width: 300px;
  }

  &__error {
    color: $red;
    font-size: $font-size12;
    margin-top: 3px;
    margin-left: 5px;
  }
}

input {
  padding: 0 15px;
  height: 30px;
  width: 100%;
}

.btn-submit {
  min-width: 200px;
}