.page {
  background-color: $white;
  font-size: $font-size-base;
  min-height: 100vh;
}

.ant-layout {
  background-color: $white;
}

.top-margin {
  margin-top: 20px;
}

.top-padding {
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;

  &__empty {
    margin: 0 auto;
  }
}

.ant-card {
  height: calc(100% - 20px);
}

.text-size .ant-card-meta-description {
  overflow: hidden;
  height: 100%;
  height: 100px;
}

.align-center {
  text-align: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.movie-image {
  background-attachment: fixed;
  width: 100%;
}

.movie {

  &__details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__text {
    font-size: 14px;
  }
}
